<head>
    <title>Hawk - SE Hack</title>
    <!-- Bulma Import -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    
    <!-- Image Import-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>

    <style>
      .has-image-centered {
      margin-left: auto;
      margin-right: auto;
    }
    </style>
</head>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="dashboard">
        <img src="static/hawk-forward.png" >
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" href="settings">
              <strong>Settings</strong>
            </a>
            <a class="button is-light" href="profile">
              <strong>Account</strong>
            </a>
            <a class="button is-danger" href="logout">
              Log out
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
<div class="container">

    <div class="section">
        <h1 class="title is-1 has-text-centered">Welcome <span class="has-text-white has-background-dark p-1">{{ user.username }}</span></h1>
    </div>

    <div class="notification is-info is-light ">
      <button class="delete"></button>
      Hello there! We can see it's your first time visiting <strong>Hawk</strong>. You can monitor administrators of your Cisco products in the cards below. You can configure new integrations <strong><a href="settings">here</a></strong> – don't worry, you can change these at any time by clicking <strong><a href="settings">Settings</a></strong>.
    </div>

    {% if names_anomalies|length > 0 or emails_anomalies|length > 0 %}
    <div class="notification is-warning is-light">
      <button class="delete"></button>
      {% if names_anomalies|length > 0 %}
      The following names were only found once:
      <div class="content">
        <ul>
          {% for name in names_anomalies %}
          <li>{{ name }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% if emails_anomalies|length > 0 %}
      The following emails were only found once:
      <div class="content">
        <ul>
          {% for email in emails_anomalies %}
          <li>{{ email }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    {% endif %}

    <section>
      <h2 class="subtitle is-3 ">Integrations</h2>
    
      {% if enabled.meraki == True %}
      <div class="tile is-ancestor card my-6">
        <div class="tile is-3 is-parent has-background-light">
          <div class="tile is-child">
            <div class="card-image">
              <figure class="image ">
                <img src="{% static 'meraki.png' %}" alt="Meraki" style="width: 70%; margin: 0 auto">
              </figure>
            </div>
            <div class="separator">Tools</div>
            <div class="card-content">
              <a href="https://account.meraki.com/secure/login/dashboard_login">
                <button class="button is-dark is-fullwidth"> 
                  <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                  <span>Dashboard</span>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="tile is-9 is-parent">
          <div class="tile is-child">
            <p class="subtitle has-text-right">
              <div class="tags has-addons">
                <span class="tag is-medium">Administrators</span>
                <span class="tag is-dark is-medium">{{ meraki|length }}</span>
              </div>
            </p>
            <div class="content">
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Auth</th>
                    <th>Access</th>
                    <th>Status</th>
                    <th>2FA</th>
                    <th>API</th>
                    <th>Last seen</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in meraki %}
                    <tr>
                      <td>{{ user.id }}</td>
                      <td>{{ user.name }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.authenticationMethod }}</td>
                      <td>{{ user.orgAccess }}</td>
                      <td>{{ user.accountStatus }}</td>
                      <td>{{ user.twoFactorAuthEnabled }}</td>
                      <td>{{ user.hasApiKey }}</td>
                      <td>{{ user.lastActive }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% elif enabled.meraki == 'error' %}
      <div class="notification is-danger">
        <button class="delete"></button>
        There was an error communicating with the <strong>Meraki</strong> API – please check your credentials are correct in the <strong><a href="settings">Settings</a></strong> page.
      </div>
      {% endif %}

      {% if enabled.ise == True %}
      <div class="tile is-ancestor card my-6">
        <div class="tile is-3 is-parent has-background-light">
          <div class="tile is-child">
            <div class="card-image">
              <figure class="image ">
                <img src="{% static 'ise.png' %}" alt="ISE" style="width: 50%; margin: 0 auto">
              </figure>
            </div>
            <div class="separator">Tools</div>
            <div class="card-content">
              <a href="https://{{ ise_host }}/admin">
                <button class="button is-dark is-fullwidth">
                  <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                  <span>Dashboard</span>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="tile is-9 is-parent">
          <div class="tile is-child">
            <p class="subtitle has-text-right">
              <div class="tags has-addons">
                <span class="tag is-medium">Administrators</span>
                <span class="tag is-dark is-medium">{{ meraki|length }}</span>
              </div>
            </p>
            <div class="content">
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in ise.SearchResult.resources %}
                    <tr>
                      <td>{{ user.id }}</td>
                      <td>{{ user.name }}</td>
                      <td>{{ user.description }}</td>
                      <td><a href="{{ user.link.href }}">{{ user.link.href }}</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% elif enabled.ise == 'error' %}
      <div class="notification is-danger">
        <button class="delete"></button>
        There was an error communicating with the <strong>ISE</strong> API – please check your credentials are correct in the <strong><a href="settings">Settings</a></strong> page.
      </div>
      {% endif %}

      {% if enabled.umbrella == True %}
      <div class="tile is-ancestor card my-6">
        <div class="tile is-3 is-parent has-background-light">
          <div class="tile is-child">
            <div class="card-image">
              <figure class="image ">
                <img src="{% static 'umbrella.png' %}" alt="Umbrella" style="width: 50%; margin: 0 auto">
              </figure>
            </div>
            <div class="separator">Tools</div>
            <div class="card-content">
              <a href="https://dashboard.umbrella.com">
                <button class="button is-dark is-fullwidth">
                  <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                  <span>Dashboard</span>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="tile is-9 is-parent">
          <div class="tile is-child">
            <p class="subtitle has-text-right">
              <div class="tags has-addons">
                <span class="tag is-medium">Administrators</span>
                <span class="tag is-dark is-medium">{{ umbrella|length }}</span>
              </div>
            </p>
            <div class="content">
              <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>2FA</th>
                    <th>Last seen</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in umbrella %}
                    <tr>
                      <td>{{ user.id }}</td>
                      <td>{{ user.firstname }} {{ user.lastname }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.role }}</td>
                      <td>{{ user.status }}</td>
                      <td>{{ user.twoFactorEnable }}</td>
                      <td>{{ user.lastLoginTime }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% elif enabled.umbrella == 'error' %}
      <div class="notification is-danger">
        <button class="delete"></button>
        There was an error communicating with the <strong>Umbrella</strong> API – please check your credentials are correct in the <strong><a href="settings">Settings</a></strong> page.
      </div>
      {% endif %}

      {% if enabled.viptela == True %}
      <div class="tile is-ancestor card my-6">
        <div class="tile is-3 is-parent has-background-light">
          <div class="tile is-child">
            <div class="card-image">
              <figure class="image ">
                <img src="{% static 'viptela.png' %}" alt="Viptela" style="width: 50%; margin: 0 auto">
              </figure>
            </div>
            <div class="separator">Tools</div>
            <div class="card-content">
              <a href="https://{{ viptela_host }}">
                <button class="button is-dark is-fullwidth">
                  <span class="icon">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                  <span>Dashboard</span>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="tile is-9 is-parent">
          <div class="tile is-child">
            <p class="subtitle has-text-right">
              <div class="tags has-addons">
                <span class="tag is-medium">Administrators</span>
                <span class="tag is-dark is-medium">{{ viptela|length }}</span>
              </div>
            </p>
            <div class="content">
              <table>
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Description</th>
                    <th>Groups</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in viptela %}
                    <tr>
                      <td>{{ user.userName }}</td>
                      <td>{{ user.description }}</td>
                      <td>{{ user.group }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% elif enabled.viptela == 'error' %}
      <div class="notification is-danger">
        <button class="delete"></button>
        There was an error communicating with the <strong>Viptela</strong> API – please check your credentials are correct in the <strong><a href="settings">Settings</a></strong> page.
      </div>
      {% endif %}

    </section>
</div>

<!-- auth0login/templates/dashboard.html -->

<script>
  document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
</script>
