<head>
    <title>Hawk - SE Hack</title>
    <!-- Bulma Import -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Image Import-->
    {% load static %}
    
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>

    <style>
      .has-image-centered {
      margin-left: auto;
      margin-right: auto;
    }
    </style>
</head>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="static/hawk-forward.png" >
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item">
          Documentation
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" href="profile">
                <strong>Account</strong>
              </a>
            <a class="button is-danger" href="logout">
              Log out
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
<div class="container">

    <div class="section">
        <h1 class="title is-1 has-text-centered">Welcome <span class="has-text-white has-background-dark p-1">{{ user.username }}</span></h1>
    </div>

    <div class="notification is-info is-light ">
      <button class="delete"></button>
      Hello there! We can see it's your first time visiting <strong>Hawk</strong>. You can monitor your role-based access control user of your Cisco products in the cards below. You can configure new integrations <strong><a href="/settings">here</a></strong>, don't worry you can change these later by clicking <strong>configure</strong> below the cards. Developed by Joshua Dean and Peter Morris for the Cisco Q3 SE hack.
    </div>

    <section>
      <h2 class="subtitle is-3 ">Integrations</h2>
    
      <div class="tile is-ancestor">
        <div class="tile is-6 is-parent">
          <div class="tile is-child">
            <div class="card">
              <div class="card-image">
                <figure class="image ">
                  <img src="{% static 'meraki.png' %}" alt="Meraki" style="width: 60%; margin: 0 auto">
                </figure>
              </div>
              <div class="card-content">
                <p class="title is-4">Meraki</p>
                <p class="subtitle is-6">Cisco Meraki Dashboard</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span>
                    <a href="https://twitter.com/codinghorror/status/506010907021828096">Configure</a>
                  </span>
                </p>
                <p class="card-footer-item">
                  <span>
                    <a href="#">Close</a>
                  </span>
                </p>
              </footer>
            </div>
          </div>
        </div>
        <div class="tile is-6 is-parent">
          <div class="tile is-child">
            <p class="title">Three</p>
          </div>
        </div>
      </div>
    </section>
</div>

<!-- auth0login/templates/dashboard.html -->

<script>
  document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
</script>
