<head>
    <title>Hawk - SE Hack</title>
    <!-- Bulma Import -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Image Import-->
    {% load static %}
    
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>

    <style>
      .has-image-centered {
      margin-left: auto;
      margin-right: auto;
    }
    </style>
</head>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/dashboard">
      <img src="static/hawk-forward.png" >
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="dashboard">
            <strong>Dashboard</strong>
          </a>
          <a class="button is-light" href="settings">
            <strong>Settings</strong>
          </a>
          <a class="button is-danger" href="logout">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="container mt-6">
      <section class="section box has-background-light m-2">

          <div class="columns is-vcentered">
              <div class="column">
                <div class="columns">
                  <div class="column is-4">
                    <figure class="image has-image-centered is-128x128">
                      <img class="is-rounded " src="{{ auth0User.extra_data.picture }}">
                    </figure>
                  </div>
                  <div class="column">
                    <h1 class="is-size-1 has-text-weight-bold is-family-monospace">Your Account</h1>
                    <h2 class="is-family-monospace">Welcome to your account page. You can manage all details of your account here:</h2>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input class="input disabled" type="text" value="{{ user.username }}">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input disabled" type="text" value="{{ user.email }}">
                  </div>
                </div>
              </div>
          </div>

      </section>
  </div>
</div>